* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
section {
    width: 500px;
  
}

body section div {
    background-color: #001BB7;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
body section h2 {
    color: #FFF;
    text-align: center;

}
body section button {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    background-color: #001BB7;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 16px;
}
body section textarea {
    width: 100%;
    height: 120px;
    background-color: #FFF;
    border: none;
    outline: none;
    padding: 10px;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 12px #acacac;
}
body section p {
    color: #001BB7;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}